 .faq {
   padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.faq-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .ques-heading-titlebox{
  display: flex;
  background-color: rgba(80, 80, 80, 0.5);
  width: 33rem;
  height: 4rem;
  border-radius: 20px;
  justify-content: space-between;
  color: white;
  text-align: center;
} 
 
.ques-wrapper-1 .list,
.ques-wrapper-2 .list {
  display: none;
}
 
.ques-wrapper-1-active .list,
.ques-wrapper-2-active .list {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 20px;
  font-size: 1.2rem;
  width: 33rem;
}
 
.ques-wrapper-1-active .list-item,
.ques-wrapper-2-active .list-item {
  padding-top: 1rem;
  padding-bottom: 1rem;

}
 

 
.ques-wrapper-1-active .ques-heading-titlebox ,
.ques-wrapper-2-active .ques-heading-titlebox {
  margin-bottom: 0.5rem;

}
 
.ques-wrapper-1-active .more-option-show,
.ques-wrapper-2-active .more-option-show {
  transform: rotate(180deg);
  cursor: pointer;
  font-weight: bold;
}

.ques-wrapper-1 .more-option-show,
.ques-wrapper-2 .more-option-show{
  cursor: pointer;
  font-weight: bold;
}
.ques-heading-titlebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.ques-heading-m{
  padding: 1rem;
  font-size: 1rem;
}
.more-options-m{
  padding: 1rem;
}


/* media query */  
@media screen and (max-width: 768px){
  .ques-heading-titlebox {
    width: 23rem;
    height: 3rem;
  }
  .ques-wrapper-1-active .list, .ques-wrapper-2-active .list {
    width: 23rem;
    height: 5rem;
  }
}
@media screen and (max-width: 768px){
  .ques-heading-titlebox {
    width: 18rem;
    height: 2.5rem;
  }
  .ques-wrapper-1-active .list, .ques-wrapper-2-active .list {
    width: 18rem;
    height: 5rem;
    font-size: 0.85rem;
  }
}