.heading-eventschedule{
    text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  color: rgb(231, 230, 235);
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}
.underline-event-schedule{
  display: flex;
  background: rgb(173, 131, 241);
  height: 0.4rem;
  width: 513px;
}
.info{
    text-align: center;
  font-style: normal;
  font-weight:lighter;
  font-size: 1.5rem;
  color: rgb(231, 230, 235);
  padding-top: 2rem;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}
@media screen and (max-width: 1024px){
  .heading-eventschedule{
    font-size: 3rem;
  }
  .underline-event-schedule{
    width: 24.5rem;
    height: 0.3rem;
  }
  .info{
    font-size: 1.2rem;
  }
}    
@media screen and (max-width: 768px){    
  .heading-eventschedule{
    font-size: 2.5rem;
  }
  .underline-event-schedule{
    width: 20.5rem;
  }
  .info{
    font-size: 0.9rem;
    padding: 5%;
  }
}
@media screen and (max-width: 425px){    
  .heading-eventschedule{
    font-size: 1.5rem;
  }
  .underline-event-schedule{
    width: 12.3rem;
    height: 0.2rem;
  }
}