@import url('http://fonts.cdnfonts.com/css/nexa-bold');                
.ab-heading{
    width: 98vw;
    font-family: 'Nexa', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(231, 230, 235);
    padding-bottom: 2%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.about-heading-underline{
    display: flex;
    width: 31rem;
    height: 0.4rem;
    background-color: rgb(173, 131, 241);
}
@media screen and (max-width: 1024px){
    .ab-heading-size {
        text-align: center;
        font-size: 3rem; 
    }
    .about-heading-underline{
        width: 23.7rem;
        height: 0.3rem;
    }
}
@media only screen and (max-width: 768px){
    .ab-heading-size{
        font-size: 2.5rem;
    }
    .about-heading-underline{
        width: 20rem;
        height: 0.3rem;
    }
}
@media only screen and (max-width: 425px) {
    .ab-heading-size{
        font-size: 1.5rem;
    }
    .about-heading-underline{
        width: 12rem;
        height: 0.2rem;
    }
    .ab-heading{
        padding-top: 5rem;
    }
}